@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  --primary-color1: #bf9444;
  --title-color-dark: #09161d;
  --text-color1: #5e5e5e;
  --white: #fff;
  --light-text: #ffffffcc;
  --border: 1px solid #eee;
  --font-Jost: "Jost", sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}
:root {
  --swiper-navigation-size: 44px;
}
:root {
  --swiper-theme-color: #007aff;
}
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.15),
    hsla(0, 0%, 100%, 0)
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* background: linear-gradient(to bottom, transparent, rgb(var(--bs-gradient)));
   */
  background: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.regular-item {
  background-image: linear-gradient(rgba(9, 22, 29, 0.8), rgba(9, 22, 29, 0.8)),
    url("https://restho-nextjs.vercel.app/_next/static/media/h2-regular-items-bg.28bec6e3.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 80px 0;
}

.reservarion-area {
  background-image: linear-gradient(
      rgba(9, 22, 29, 0.75),
      rgba(9, 22, 29, 0.75)
    ),
    url("https://restho-nextjs.vercel.app/_next/static/media/h2-reservation-bg.ca77ecb0.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}

.footer {
  background-image: linear-gradient(rgba(9, 22, 29, 0.9), rgba(9, 22, 29, 0.9)),
    url("https://restho-nextjs.vercel.app/_next/static/media/footer-bg.2200077c.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.banner-section2 {
  background: linear-gradient(90.28deg, #000 0.23%, #09161d 100.33%);
  position: relative;
}
